{% load static %}
<!DOCTYPE HTML>
<html lang="fa">
	<head>
		<title>online bookstore | فارسی</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%  static 'online_bookstore/assets/bootstrap/css/bootstrap.min.css' %}%}" />
		<link rel="stylesheet" href="{%  static 'online_bookstore/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{%  static 'online_bookstore/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<div class="inner">

						<!-- Logo -->
							<a href="index.html" class="logo">
									<span class="fa fa-book"></span> <span class="title">فروشگاه آنلاین کتاب</span>
								</a>

						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>

					</div>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<h2>منو</h2>
					<ul>
						<li><a href="{% url 'book:home' %}">خانه</a></li>

						<li><a href="checkout.html">Checkout</a></li>

						<li>
							<a href="#" class="dropdown-toggle">About</a>

							<ul>
								<li><a href="about.html">About Us</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="terms.html">Terms</a></li>
							</ul>
						</li>

						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>محصولات</h1>

							<div class="image main">
								<img src="{%  static 'online_bookstore/images/banner-image-6-1920x500.jpg' %}" class="img-fluid" alt="" />
							</div>

							<!-- Products -->
							<section class="tiles">
								{% for book in books %}

                                    <article class="style1">
                                        <span class="image">
                                            <img src="{{ book.image.url }}" alt="" />
                                        </span>
                                        <a href="product-details.html">
                                            <h2>{{ book.title }}</h2>

                                          <p><strong> {{ book.price }}ریال   </strong></p>

                                            <p>{{ book.description | truncatewords:'10' }}</p>
                                        </a>
								    </article>

                                {% endfor %}

							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2020 Company Name </li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{%  static 'online_bookstore/assets/js/jquery.min.js' %}"></script>
			<script src="{%  static 'online_bookstore/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{%  static 'online_bookstore/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{%  static 'online_bookstore/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{%  static 'online_bookstore/assets/js/main.js' %}"></script>
	</body>
</html>