{% extends 'registration\list_base.html' %}
{% block title %}{% block title-meta %}
    لیست انواع
{% endblock %}{% endblock %}
{% block titles %}
    <tr>
        <th>عنوان انواع</th>
    </tr>
{% endblock %}

{% block for %}
    {% for book in object_list %}
        <tr>
            <td><a href="{% url 'account:book-type-update' book.pk %}">{{ book.title }}</a></td>
            <td>
                {% if user.is_superuser %}
                    <a class="badge badge-danger"
                       href="{% url 'account:book-type-delete'  book.pk %}">حذف نوع</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

