{% extends 'registration\list_base.html' %}
{% block title %}{% block title-meta %}
    لیست انتشارات
{% endblock %}{% endblock %}
{% block titles %}
    <tr>
        <th>عنوان انتشارات</th>
        <th>توضیحات</th>
    </tr>
{% endblock %}

{% block for %}
    {% for book in object_list %}
        <tr>
            <td><a href="{% url 'account:book-publisher-update' book.pk %}">{{ book.title }}</a></td>
            <td>{{ book.description | striptags | truncatewords:"30" }}</td>
            <td>
                {% if user.is_superuser %}
                    <a class="badge badge-danger"
                       href="{% url 'account:book-publisher-delete'  book.pk %}">حذف انتشار</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}


