{% extends 'registration\list_base.html' %}
{% block title %}{% block title-meta %}
    لیست سال تحصیلی
{% endblock %}{% endblock %}
{% block titles %}
    <tr>
        <th>عنوان سال تحصیلی</th>
    </tr>
{% endblock %}

{% block for %}
    {% for book in object_list %}
        <tr>
            <td><a href="{% url 'account:education-year-update' book.pk %}">{{ book.title }}</a>
            </td>
            <td>
                {% if user.is_superuser %}
                    <a class="badge badge-danger"
                       href="{% url 'account:education-year-delete'  book.pk %}">حذف سال تحصیلی</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}


