


{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% block title-meta %}تغییر گذرواژه{% endblock %}{% endblock %}
{% block main %}
    <div class="col-md-8 text-center mx-auto">
        <!-- general form elements -->
        <div class="card card-success">
            <div class="card-header ">
                <h3 class="card-title mb-0 ">تغییر گذرواژه</h3>
            </div>
        </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2">تغییر گذرواژه با موفقیت انجام شد</p>
            </form>
        </div>
    </div>


{% endblock %}